/* 以下為聊天室的 CSS  */
.msg {
	position: fixed;
	z-index: 500;
	bottom: 5%;
	right: 5%;
}

/* 以下為小鈴鐺的 CSS  */
table{
	width: 800px;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}

table, th, td {
	border: 1px solid #CCCCFF;
}

th, td {
	padding: 5px;
	text-align: center;
}

.badge {
  min-width: 1px;
  padding: 3px 3px;
  vertical-align: text-bottom;
  background-color: #FF0000;
  display: none;
}

#fi_cont{
 color: #000;
}